################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringList_1/.vs/StringList_1/v15
/StringList_1/Debug
